.titulo-formulario{
  background-color: #F2F0F0;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  padding: 5px 0px 5px 10px;
  }
  .icono-formulario{
    font-size: 30px;
    padding-right: 5px;
  }

  .contenido-formulario{
    background-color: #F2F0F0;
  }
