.titulo-formulario{
  background-color: #F2F0F0;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  padding: 7px 0px 7px 10px;
  width: 100%;
  display: table;
  }
  .icono-formulario{
    font-size: 20px;
    padding-right: 5px;
  }

  .contenido-formulario{
    background-color: #F2F0F0;
  }
  .contenedor-recuento{
    background-color: white;
  }

  .titulo_conteo{
    background: #F2F0F0;
  }

  .input{
    height: 40px;
    max-width: 100px;
    float: left;
  }
